
$primary-col:  #FF5629;
$secondary-col: #185a9d;
$secondary-col-2: #6a2a9f;
$primary-light-col-1: #FF967A;
$primary-light-col-2: #FF7551;
$primary-dark-col-1: #DE3104;
$primary-dark-col-2: #AE2400;
$light-col-1:	#FFFFFF;
$light-col-2: 	#F0F0F0;
$light-col-3: 	#E8E8E8;
$light-col-4: 	#E0E0E0;
$dark-col-1: #000000;
$dark-col-2: #080800;
$dark-col-4: #202020;
$dark-col-3: #4b3636;


$linear-gradient: linear-gradient(to right, #1ad3b8, #4bee88);
